
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Dekko::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

<% content_for :title do %>Bubble<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="4">
      <div data-id="bubble" data-view="Bubble"
           data-title="Bubbles"
           >
      </div>
    </li>

    </ul>
</div>
